<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item><i class="anticon anticon-home"></i> 首页</li>
      <li nz-menu-item><i class="anticon anticon-book"></i> 图析</li>
      <li nz-menu-item><i class="anticon anticon-code-o"></i> 地图</li>
      <li nz-menu-item><i class="anticon anticon-mail"></i> 档案</li>
      <li nz-menu-item><i class="anticon anticon-calculator"></i> 协作</li>
    </ul>
  </nz-header>
  <nz-content style="padding:0 50px;">
    <app-main-page></app-main-page>
  </nz-content>
</nz-layout>
